
.page{
	padding: 8px;
}

.inline{
	width: 100%;
}
.btn,.save-color{
	width: 12%;
}
.color-main{
	width: 76%;
	text-align: center;
}

.block{
	float: left;
}

.btn-switch{
	width: 90%;
}

.color-save{
	width: 26px;
	height: 26px;
	border: 1px solid #333333;
	border-radius: 30px;
	margin: 8px 0 8px 0;
}

.txt-save{
	border: 1px solid #333333;
	border-radius: 30px;
	padding: 3px;
}

.color{
	width: 100%;
	margin-top: 8px;
}


.txt-tabbar-true{
	color: #FEB101;
}

.txt-tabbar-false{
	color: #333333 ;
}






.item{
	margin: 15px 10px 15px 10px;
	position: relative;
}

.item-txt{
	
}

.normal{
	width: 15px;
	height: 15px;
	border: 1px solid #222222;
	border-radius: 4px;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	
}

.range{
	width: 100%;
}

.icon{
	width: 20px;
	height: 20px;
}
