
.page{
	padding:0 8px 0 8px;
}

.inline{
	width: 100%;
}
.btn,.save-color{
	width: 12%;
}
.color-main{
	width: 76%;
	text-align: center;
	margin-left: 12%;
}

.block{
	float: left;
}

.btn-switch{
	width: 90%;
}
.mode{
	margin-top: 8px;
}

.tab-title-left-true{
	background-color: #FEB101;
	color: white;
	padding: 8px 5px 8px 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border: 1px solid #FEB101;
}

.tab-title-right-flase{
	background-color: white;
	color: #FEB101;
	padding: 8px 20px 8px 5px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border: 1px solid #FEB101;
}

.tab-title-left-flase{
	background-color: white;
	color: #FEB101;
	padding: 8px 5px 8px 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border: 1px solid #FEB101;
}

.tab-title-right-true{
	background-color: #FEB101;
	color: white;
	padding: 8px 20px 8px 5px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border: 1px solid #FEB101;
}

.color-picker{
	margin-top: 20px;
	border-radius: 10px;
	background-color: #E0E0E0;
}

.tab-title{
	text-align: center;
}

.color-save{
	width: 26px;
	height: 26px;
	border: 1px solid #333333;
	border-radius: 30px;
	margin: 8px 0 8px 0;
}

.txt-save{
	border: 1px solid #333333;
	border-radius: 30px;
	padding: 3px;
}

.color{
	width: 100%;
	margin-top: 8px;
}


.txt-tabbar-true{
	color: #FEB101;
}

.txt-tabbar-false{
	color: #333333 ;
}






.item{
	margin: 15px 10px 15px 10px;
	position: relative;
}

.item-txt{
	
}

.normal{
	width: 15px;
	height: 15px;
	border: 1px solid #222222;
	border-radius: 4px;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	
}

.range{
	width: 100%;
	margin-top: 25px;
}

.icon{
	width: 20px;
	height: 20px;
}
.item-change-mode{
	margin-top: 18px;
}
.change-mode{
	border: 1px solid #FEB101;
	padding: 5px;
	color: #FEB101;
}

.change-mode-left{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.change-mode-right{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.change-mode-true{
	background-color: #FEB101;
	color: white;
}

.change-mode-false{
	background-color: white;
}
