*{
	padding: 0;
	margin: 0;
}

.txt-tabbar-true{
	color: #FEB101;
}

.txt-tabbar-false{
	color: #333333 ;
}

.btn-switch{
	width: 25px;
	padding: 8px 0 0 8px;
}

.block{
	/*float: left;*/
	display: inline-block;
}


.color{
	width:240px;
}

.color-main{
	text-align: center;
}

.save-color{
	padding: 8px 8px 0 0;
}

.color-save{
	width: 25px;
	height: 25px;
	border: 1px solid #333333;
	border-radius: 30px;
}
.inline{
	display: inline;
}

.range{
	width: 300px;
}

.item{
	margin: 15px 10px 15px 10px;
	position: relative;
}

.item-txt{
	
}

.normal{
	width: 15px;
	height: 15px;
	border: 1px solid #222222;
	border-radius: 4px;
	display: inline-block;
	padding: 4px;
	margin: 4px;
	
}

.range{
	width: 100%;
}

.icon{
	width: 20px;
	height: 20px;
}
