<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>MangoHome Try</title>
		<link rel="stylesheet" type="text/css" href="init.css"/>
  		<link rel="stylesheet" href="css/style.css">
  		<link rel="stylesheet" href="css/try.css" />
	</head>
	<body>
	  <div id="page" class="page">
	    <mt-tabbar v-model="tabbar">
	  		<mt-tab-item id="color"  @click.native="tabbarClick('color')">
	    		<img slot="icon"  src="images/try/tab_color_false.png">
	    		<span >Color</span>
	  		</mt-tab-item >
	  		<mt-tab-item id="mode" @click.native="tabbarClick('mode')">
	    		<img slot="icon" src="images/try/tab_mode_false.png">
	    		<span>Mode</span>
	  		</mt-tab-item>
		  	<mt-tab-item id="music" @click.native="tabbarClick('music')">
		    	<img slot="icon" src="images/try/tab_music_false.png">
		    	<span>Music</span>
		  	</mt-tab-item>
		  	<mt-tab-item id="timer" @click.native="tabbarClick('timer')">
		    	<img slot="icon" src="images/try/tab_timer_false.png">
		    	<span>Timer</span>
		  </mt-tab-item>
		</mt-tabbar>
		
		<mt-tab-container value="color" v-model="tabpage">
  			<mt-tab-container-item id="color">
  				<div>
					<div>
						<div class="block color-main">
							<p>Color</p>
							<img class="color" src="images/try/color.png"/>
						</div>
						<div class="block save-color">
							<span>Color</span><br />
							<p class="color-save"></p>
							<span class="txt-save">Save</span><br />
						</div>
					</div>
					<div >
						<div class="item">
							<mt-range class="range">
								<div slot="start">Bright</div>
								<div slot="end">
									<img class="icon" src="images/try/icon_light.png" />
								</div>
							</mt-range>
							
						</div>
						<div class="item">
							<span class="item-txt">Normal</span>
							<p class="normal" 
								v-for="item in normal"  
								v-bind:style="[{'background-color': item.color},{'color':item.color}]">
							</p>
						</div>
						<div class="item">
							<span class="item-txt">DIY</span>
						</div>
					</div>
				</div>
  			</mt-tab-container-item>
  			<mt-tab-container-item id="mode">
  				<div class="mode" id = "mode">
  					<div class="tab-title">
  							<span id="tab-title-classic" class="tab-title-left-true" @click="tabTitle('classic')">Classic</span><span id="tab-title-custom" class="tab-title-right-flase" @click="tabTitle('custom')">Customize</span>
  					</div>
  					<div class="classic" id="classic">
  						<div class="color-picker">
  							<mt-picker :slots="color_picker"></mt-picker>
  						</div>
  						<div>
  							<mt-range class="range">
								<div slot="start">Bright</div>
								<div slot="end">
									<img class="icon" src="images/try/icon_light.png" />
								</div>
							</mt-range>
  						</div>
  						<div>
  							<mt-range class="range">
								<div slot="start">Speed&nbsp;</div>
								<div slot="end">
									<img class="icon" src="images/try/icon_speed.png" />
								</div>
							</mt-range>
  						</div>
  					</div>
  					<div  class="custom" id="custom">
  						
  					</div>
  				</div>
			</mt-tab-container-item>
			<mt-tab-container-item id="music">
				789
			</mt-tab-container-item>
			<mt-tab-container-item id="timer">
				101112
			</mt-tab-container-item>
		</mt-tab-container>

	
		</div>
	</body>
  	<!-- 先引入 Vue -->
  	<script src="js/vue.js"></script>
  	<!-- 引入组件库 -->
  	<script src="js/mint-ui-index.js"></script>
  	<script>
    	new Vue({
	      	el: '#page',
	      	data:{
	      		tabbar: "mode",
	      		tabpage:"mode",
	      		
	      		normal:[
	      			{color:"red"},
	      			{color:"green"},
	      			{color:"blue"},
	      			{color:"yellow"},
	      			{color:"purple"},
	      			{color:"#ADD8E6"},
	      			{color:"white"}
	      		],
	      		color_picker: [
			        {
			          	flex: 1,
			          	values: [
			          		"Dinner Mode","Holiday Mode","Meeting Mode","Party Mode",
			          		"Three color jumping change","Seven color jumping change","Three color breathing lamp",
			          		"Seven color breathing lamp","Red breathing lamp","Green breathing lamp",
			          		"Blue breathing lamp","Yellow breathing lamp","Cyan breathing lamp",
			          		"Purple breathing lamp", "White breathing lamp","Red and green breathing lamp",
			          		"Red and blue breathing lamp","Blue and green breathing lamp","Seven color flashing",
			          		"Red flashing","Blue flashing", " Green flashing",
			          		"Yellow flashing", "Cyan flashing","purple flashing","White flashing"
			          	],
			          	className: 'slot',
			          	textAlign: 'center',
			          	textSize: '10px',
			        }, 
		      	]
	      	},
	      	methods:{
	      		tabbarClick:function(e){
	      			this.tabpage = e
	      		},
	      		tabTitle:function(e){
	      			var classic = document.getElementById("classic");
	      			var custom = document.getElementById("custom");
	      			var tabTitleClassic = document.getElementById("tab-title-classic");
	      			var tabTitleCustom = document.getElementById("tab-title-custom");
	      			if(e == "classic"){
	      				classic.hidden="";
	      				custom.hidden="hidden";
	      				tabTitleClassic.className="tab-title-left-true";
	      				tabTitleCustom.className="tab-title-right-flase";
	      			}else if(e == "custom"){
	      				classic.hidden="hidden";
	      				custom.hidden="";
	      				tabTitleClassic.className="tab-title-left-flase";
	      				tabTitleCustom.className="tab-title-right-true";
	      			}
	      		}
	      	}
    	})
  	</script>
</html>
